header
  nav.navbar.navbar-expand-sm.navbar-light.bg-light
    a.navbar-brand(href="/") Lottery Simulation
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item.active
          a.nav-link(href="/") Home
        li.nav-item
          a.nav-link(href="#") About
        li.nav-item
          a.nav-link.disabled(href="#") Disabled
