doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Lottery
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet")
    link(rel="stylesheet" href="style.css")
  body
    //move header in a separate file and include here
    include header
    
    //move page content in a separate file and include here
    main
      block content
      
    //  move footer in a separate file and include here
    include footer
